include mixins

doctype html
head
  +head
  
.click-closed
+navbar('about')

// / Intro Single star /
section.intro-single
  .container
    .row
      .col-md-12.col-lg-8
        .title-single-box
          h1.title-single Crea tu mundo desde la nada
      .col-md-12.col-lg-4
        nav.breadcrumb-box.d-flex.justify-content-lg-end(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/') Home
            li.breadcrumb-item.active(aria-current='page')
              | Nosotros
// / Intro Single End /

// / About Star /
section.section-about
  .container
    .row
      .col-sm-12
        .about-img-box
          img.img-fluid(src='assets/img/slide-about-1.jpg' alt='')
        .sinse-box
          h3
            | Blog Tio Node
            br
            | - desde 2020
          p Noticias de verdad
      .col-md-12.section-t8
        .row
          .col-md-6.col-lg-5
            img.img-fluid(src='assets/img/about-2.jpg' alt='')
          .col-md-2.d-none.d-lg-block
          .col-md-6.col-lg-5.section-md-t3
            .title-box-d
              h3.title-d
                | Una 
                span.color-d Experiencia
                |  Única
                br
                |  e Innolvidable.
            p.color-text-a
              | Estamos seguros que un grupo de diseñadores y desarrolladores de talento que se dedican a la creación
              | de cosas hermosas, juntos pueden cambiar el mundo en línea.
              | Creo, que desde el principio de la vida, si lo pensamos bien, todo se resume en analizar los datos que obtenemos del entorno. 
              | Todo lo que nos rodea nos proporciona información que de una manera u otra aprendemos a gestionar y 
              | a tomar decisiones en base a distintos y variados procesos de análisis.  
            p.color-text-a
              | Estamos seguros de que el presente blog trata de brindar una experiencia
              | innolvidable para cada visitante.
              | Nuestro objetivo es brindar satisfaccion y entretenimeinto a los usuarios,
              | para que estos realicen sus actividades cotidianas.
// / About End /

// / Team Star /
section.section-agents.section-t8
  .container
    .row
      .col-md-12
        .title-wrap.d-flex.justify-content-between
          .title-box
            h2.title-a Conoce a nuestro Equipo
    .row
      .col-md-3
        .card-box-d
          .card-img-d
            img.img-d(src='assets/img/agent1.png' alt='' height='285')
          .card-overlay.card-overlay-hover
            .card-header-d
              .card-title-d.align-self-center
                h3.title-d
                  a.link-two
                    | Carlos Quispe
                    br
                    |  Quispe
            .card-footer-d
              .socials-footer.d-flex.justify-content-center
                ul.list-inline
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-facebook(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-twitter(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-instagram(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-pinterest-p(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-dribbble(aria-hidden='true')
          
      .col-md-3
        .card-box-d
          .card-img-d
            img.img-d(src='assets/img/agent2.jpg' alt='' height='285')
          .card-overlay.card-overlay-hover
            .card-header-d
              .card-title-d.align-self-center
                h3.title-d
                  a.link-two
                    | Juan Mancilla
                    br
                    |  Cornejo
            .card-footer-d
              .socials-footer.d-flex.justify-content-center
                ul.list-inline
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-facebook(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-twitter(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-instagram(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-pinterest-p(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-dribbble(aria-hidden='true')
      
      .col-md-3
        .card-box-d
          .card-img-d
            img.img-d(src='assets/img/agent3.jpg' alt='' height='285')
          .card-overlay.card-overlay-hover
            .card-header-d
              .card-title-d.align-self-center
                h3.title-d
                  a.link-two
                    | Alvaro Medina
                    br
                    |  Zumarán
            .card-footer-d
              .socials-footer.d-flex.justify-content-center
                ul.list-inline
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-facebook(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-twitter(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-instagram(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-pinterest-p(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-dribbble(aria-hidden='true')

      .col-md-3
        .card-box-d
          .card-img-d
            img.img-d(src='assets/img/agent4.jpg' alt='' height='285')
          .card-overlay.card-overlay-hover
            .card-header-d
              .card-title-d.align-self-center
                h3.title-d
                  a.link-two
                    | Oswaldo Ñaupa
                    br
                    |  Laura
            .card-footer-d
              .socials-footer.d-flex.justify-content-center
                ul.list-inline
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-facebook(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-twitter(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-instagram(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-pinterest-p(aria-hidden='true')
                  li.list-inline-item
                    a.link-one(href='#')
                      i.fa.fa-dribbble(aria-hidden='true')
// / Team End /
p
+footer
a.back-to-top(href='#')
  i.fa.fa-chevron-up
#preloader

script(src='assets/lib/jquery/jquery.min.js')
script(src='assets/lib/jquery/jquery-migrate.min.js')
script(src='assets/lib/popper/popper.min.js')
script(src='assets/lib/bootstrap/js/bootstrap.min.js')
script(src='assets/lib/easing/easing.min.js')
script(src='assets/lib/owlcarousel/owl.carousel.min.js')
script(src='assets/lib/scrollreveal/scrollreveal.min.js')
script(src='assets/js/main.js')
