include mixins

doctype html
head
  +head

.click-closed
+navbar('blog')

// / Intro Single star /
section.intro-single
  .container
    .row
      .col-md-12.col-lg-8
        .title-single-box
          h1.title-single Nuestros Post
      .col-md-12.col-lg-4
        nav.breadcrumb-box.d-flex.justify-content-lg-end(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a.btn.btn-link(href='/') Home
            li.breadcrumb-item
              if user 
                button.btn.btn-link(type='button' data-toggle='modal' data-target='#staticBackdrop')
                  | Añadir nota
              else
                a.btn.btn-link(href='/register')
                  | Registrese
- var noticias = noticias
- var usted = 'Seccion '+categoria+ ' '
section.news-grid.grid
  .container
    .row.pb-5
      .col-md-12
        .text-center.d-flex.justify-content-end.justify-content-end.align-items-center
          if categoria
            .p #{usted}
          else 
            .p Todas las Noticias
          nav-item.dropdown
            a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Filtros
            .dropdown-menu
              a.dropdown-item(href='/blog') Ultimas noticias
              a.dropdown-item(href='/blog/categoria/Politica') Politica 
              a.dropdown-item(href='/blog/categoria/Deportes') Deportes 
              a.dropdown-item(href='/blog/categoria/Mundo') Mundo
              a.dropdown-item(href='/blog/categoria/Tecnologia') Tecnologia
              a.dropdown-item(href='/blog/categoria/Entretenimiento') Entretenimiento 
              a.dropdown-item(href='/blog/categoria/Vital') Vital 
              a.dropdown-item(href='/blog/categoria/Coronavirus') Coronavirus 
// / Intro Single End /

// Modal
#staticBackdrop.modal.fade(data-backdrop='static' data-keyboard='false' tabindex='-1' role='dialog' aria-labelledby='staticBackdropLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content.bg-light
            .modal-header
                h5#staticBackdropLabel.modal-title.text-success.font-weight-bold Agregar Noticia
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            form.needs-validation.form-signin(method='POST' action='/blog_crear')
                .modal-body
                  .form-group
                    label.col-form-label(for='title') Titulo:
                    input#title.form-control(type='text' name='titulo' required='' )
                  .form-group
                    label(for='enca') Encabezado:
                    TextArea#enca.form-control(type='text' name='encabezado' required='' rows='4')
                  .form-group
                    label(for='desc') Descripción:
                    TextArea#desc.form-control(type='text' name='descripcion' required='' rows='4')
                  .form-group
                    label(for='img') Image:
                    input#img.form-control(type='text' name='image' required='' )
                  .form-group
                    label(for='autor') Autor:
                    input#autor.form-control(type='text' name='autor' required='' )
                  .form-group
                    label(for='categ') Categoría:
                    input#categ.form-control(type='text' name='categoria' required='' )
                  .form-group
                    label(for='tag') Tags:
                    .row
                      .col
                        input#tag.form-control(type='text' name='tag' required='' )
                      .col
                        input#tag.form-control(type='text' name='tag1')
                      .col
                        input#tag.form-control(type='text' name='tag2')
                .modal-footer
                    button.btn.btn-outline-danger(type='button' data-dismiss='modal') Cancelar
                    button.btn.btn-outline-success(type='submit') Crear nota

- var noticias = noticias
section.news-grid.grid
  .container
    .row
      each noticia in noticias
        .col-md-4
          if user
            .text-center.d-flex.justify-content-around.pb-2
                a.btn.btn-a(href=`/editBlog/${noticia._id}`) Editar
                form(action=`/deleteBlog/${noticia._id}?_method=DELETE` method='POST')
                                      input(type='hidden' name='_method' value='DELETE')
                                      button.btn.btn-b(type='submit') Eliminar Nota
          else
            p Inicia sesión para editar     
          .card-box-b.card-shadow.news-box
            .img-box-b
              img.img-b(src=`${noticia.image}` height='350' width='510')
            .card-overlay
              .card-header-b
                .card-category-b
                  a.category-b(href='#')= noticia.categoria
                .card-title-b
                  h2.title-2
                    a(href=`/blog/${noticia._id}`)= noticia.titulo
                .card-date
                  span.date-b= noticia.createdAt.toLocaleDateString('en-US')
// / News Grid End /

+footer
a.back-to-top(href='#')
  i.fa.fa-chevron-up
#preloader

+scripts